[Unit]
Description=Homematic control service
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/git/heating_calendar/homematic_control/main.py
WorkingDirectory=/home/pi/git/heating_calendar/homematic_control
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3
Environment="HEATING_CALENDAR_API_URL=https://heizkalender.heidenblut.eu/api"

[Install]
WantedBy=multi-user.target
